.weather-app {
  background-color: rgb(248, 229, 118);
  padding: 20px;
  border: 1px solid rgb(248, 229, 118);
  border-radius: 5px;
}

.weather-app-wrapper {
  max-width: 700px;
  margin: 30px auto;
}

.mb-3 {
  display: block;
  margin-top: 2px;
}
.form-control {
  background: aquamarine;
}
.search {
  background-color: darkorange;
  border-color: darkorange;
}
.search:hover {
  background-color: darkorange;
  border-color: darkorange;
}
.current {
  background-color: blue;
}

h1 {
  color: black;
  font-size: 40px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

.icon {
  position: relative;
  top: 40px;
}
.Fri {
  margin-bottom: 40px;
}
.Sat {
  margin-bottom: 40px;
}
.Sun {
  margin-bottom: 40px;
}
.Mon {
  margin-bottom: 40px;
}
.Tue {
  margin-bottom: 80px;
}
.fa-cloud-rain {
  color: blue;
  font-size: 20px;
}
.fa-sun {
  color: orange;
  font-size: 50px;
}
.fa-cloud {
  color: blue;
  font-size: 40px;
}
.time {
  font-weight: bold;
  margin-top: 5px;
}
.description {
  font-weight: bold;
  margin-top: 0;
}
.h2 {
  font-size: 50px;
}
.active {
  color: black;
  cursor: default;
}
.active:hover {
  color: black;
  cursor: default;
  text-decoration: none;
}
.centi {
  font-size: 15px;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 15px;
}
.centi:hover {
  text-decoration: none;
}
.fahren {
  font-size: 15px;
  text-decoration: none;
  cursor: pointer;
  margin-top: 2px;
}
.fahren:hover {
  text-decoration: none;
}
.units {
  position: relative;
  top: -26px;
}
img {
  position: relative;
  top: -16px;
}
.precip {
  font-weight: 100px;
  margin-top: 15px;
}
.wind {
  font-weight: 100px;
}
.second {
  font-size: 200px;
  color: blue;
  position: relative;
  top: 40px;
}
.weather-forecast {
  text-align: center;
  margin: 20px, auto;
}
.gitLink {
  font-size: 14px;
}
a {
  text-decoration: none;
  transition: 200ms, all, ease-in-out;
}
a:hover {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}
.weather-forecast-date {
  margin-bottom: 5px;
}
