.weather-app {
  background-color: rgb(248, 229, 118);
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.mb-3 {
  display: block;
  margin-top: 2px;
}
.form-control {
  background: aquamarine;
}
.search {
  background-color: darkorange;
  border-color: darkorange;
}
.current {
  background-color: blue;
}

.city {
  text-align: center;
}
.icon {
  position: relative;
  top: 40px;
}
.Fri {
  margin-bottom: 40px;
}
.Sat {
  margin-bottom: 40px;
}
.Sun {
  margin-bottom: 40px;
}
.Mon {
  margin-bottom: 40px;
}
.Tue {
  margin-bottom: 80px;
}
.fa-cloud-rain {
  color: blue;
  font-size: 50px;
}
.fa-sun {
  color: orange;
  font-size: 50px;
}
.fa-cloud {
  color: blue;
  font-size: 40px;
}
h1 {
  font-size: 50px;
  position: relative;
  left: 0;
}
.time {
  font-weight: bold;
}
.description {
  font-weight: bold;
}
.h2 {
  font-size: 60px;
}
.centi {
  font-size: 25px;
  text-decoration: none;
  cursor: pointer;
}
.centi:hover {
  text-decoration: underline;
  color: blue;
}
.precip {
  font-weight: bold;
}
.wind {
  font-weight: bold;
  margin-top: 12px;
}
.second {
  font-size: 200px;
  color: blue;
  position: relative;
  top: 40px;
}
.gitLink {
  font-size: 14px;
}
a {
  text-decoration: none;
  transition: 200ms, all, ease-in-out;
}
a:hover {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}
